MQTT_BROKER_HOST=192.168.1.71
MQTT_BROKER_PORT=1883
READONLY_USERNAME=lab_test
READONLY_PASSWORD=ChangeMe-LabTest-2026
SIMULATED_STOLEN_USERNAME=sensor01
SIMULATED_STOLEN_PASSWORD=ChangeMe-Sensor01-2026
CLIENT_ID=mws-lab-unauth01
TARGET_TOPIC=mws/water/quality/sensor01/telemetry
